{{/* One row in an article list. Context: a regular page. */}}
<a href="{{ .RelPermalink }}" class="article-list-item">
  <span class="article-list-title" style="view-transition-name: t-{{ .File.UniqueID }}">{{ .Title }}</span>
  <span class="article-list-meta">
    {{ with .Parent }}<span class="article-list-section">{{ .LinkTitle }}</span>{{ end }}
    <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2" }}</time>
  </span>
  {{ with .Description }}<span class="article-list-desc">{{ . }}</span>{{ end }}
</a>
